*{
  margin: 0;
  padding: 0;
  background: #000;
}
#pauseplay{
  display: contents;

}
#play{
  width: 65px;
  height: 36px;
  font-size: 17px;
  color: #eee;
  margin-top: 7px;
  margin-left: 7px;
  border-radius: 10px;
}
#pause{
  width: 65px;
  height: 36px;
  font-size: 17px;
  color: #eee;
  margin-top: 7px;
  margin-left: 7px;
  border-radius: 10px;
}
div{
  display: flex;
  justify-content: center;
  margin-top: 35px;

}
#number1 {
    width: 200px;
    height: 200px;
    text-align: center;
    border: 0.1px solid #000;
    font-size: 100px;
    line-height: 200px;
    background-color: #eee;
    float: left;
    margin-right: 10px;
    background-color: aqua;
    border-radius: 20px;

  }
    #number2 {
      width: 200px;
      height: 200px;
      text-align: center;
      border: 0.1px solid #000;
      font-size: 100px;
      background-color: #eee;
      margin-right: 9px;
      margin-top: 35px;
      background-color: aqua;
      border-radius: 20px;

  }
   button {
    width: 160px;
    height: 40px;
    font-size: 20px;
    color: #eee;
    margin-top: 14px;
    margin-left: 423px;
    border-radius: 10px;

  }
  #tempo{
    font-size: 30px;
    color: darkred;


  }
  .hits{
    color: blue;
    height: 35px;
    width: 80px;
    display: flex;
    border-radius: 40px;
    font-size: 30px;
    align-items: center;
    border: 5px solid #610606db;
    justify-content: center;
    /* background-color: white; */

  }